# Python folders
__pycache__/
*.egg-info/
.ipynb_checkpoints/

# Jupyter junks
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Mac junks
*._DS_Store
*.DS_Store

# Outputs
outputs/
*._*.py
*.c
*.cpp
*.o
*.so
*.html
*.pyc

build/